{% for car in cars %}
<div class="col-sm-4 mb-2">
    <div class="card h-100" style="width: 20rem;">
        <img class="class-img-top" src="images/{{ car.image }}" alt="Photo voiture">
        <div class="position-absolute align-items-top badge badge-dark m-2">
            {{ car.price }} €
        </div>
        <div class="card-body">
            <h4 class="card-text">
                {{ car.title }}
            </h4>
            <div class="card-text">
                Année : {{ car.year }}
            </div>
            <div class="card-text">
                {{ car.km }} km
            </div>
            <div class="card-text">

            </div>
        </div>
    </div>
</div>
{% endfor %}